<include>
  <gateway name="{{ sipgate_gateway_name }}">
    <param name="proxy" value="{{ sipgate_proxy_value }}"/>
    <param name="username" value="{{ sipgate_username }}"/>
    <param name="password" value="{{ sipgate_password }}"/>
  </gateway>
</include>
